<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Puppy! </h1>
    Name: <%= @name %>
    Age: <%= @age %>
    Breed: <%=@breed %>

  </body>
</html>
