<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Puppy Created!</title>
 </head>
 <body>
   <h1>Puppy Info! </h1>
    Name: <%= @name %>
    Age: <%= @age %>
    Breed: <%=@breed %>
  </body>
</html>
