<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Puppy Created!</title>
 </head>
 <body>
   <h1>Puppy Info! </h1>
    Name: <br><%= @name %><br/>
    Age: <%= @age %><br/>
    Breed: <%=@breed %><br/>
  </body>
</html>
