<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Puppy Adoption Site</h1>
      <h2>"Click Here To List A Puppy"</h2>
        <form method="GET" action="/create_puppy">
    <input type="submit" id="Submit">
  </form>
  </body>
</html>
